div {
  height: 80vh;
  width: 100%;
  background-color: #f6f7f8;
  border-radius: 5px;
  overflow-y: scroll;
}
.result-title {
  margin: 0;
  background-color: #f0f1f3;
  font-style: italic;
}
p {
  padding-left: 0.25rem;
}
